<app-divider>Placeholder Component</app-divider>
<app-placeholder [header]="true" [lines]="4" />
<br />
<app-divider>Segment Component</app-divider>
<app-segment>
  <ng-container iconHeader>
    <i class="pdf file outline icon"></i> No documents are listed for this
    customer.
  </ng-container>
  <div class="ui primary button">Add Document</div>
</app-segment>
<app-segment>
  <ng-container iconHeader>
    <i class="add icon"></i> No documents are listed for this
    customer.
  </ng-container>
  <div class="ui primary button">Click to Add</div>
</app-segment>